<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pasta Tests</title>
  <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.10.0.css">
</head>
<body>
  <div id="qunit"></div>
  <script src="http://code.jquery.com/qunit/qunit-1.10.0.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="https://rawgithub.com/ympbyc/underscore-fix/master/underscore-fix.js"></script>
  <script src="../Pasta.js"></script>
  <script src="tests.js"></script>
</body>
</html>
