html,body {
    height: 100%;
}
#content {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
#slide {
    position: relative;
    height: 100%;
    background-size: cover;
}

.draggable {
    background-color: #e8e8e8;
    min-height: 18px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    opacity: 0.5;
}

#music-player {
    top: 40px;
    left: 65%;
}

#twitter {
    top: 80px;
    left: 20px;
}

#clock {
    top: 45%;
    left: 30%;
}

#news-content {
    position: absolute;
    top: 26px;
    left: 20px;
    height: 80%;
    width: 60%;
    background-color: #fff;
    opacity: 0.95;
    z-index: 5;
    overflow: scroll;
    visibility: hidden;
}

#news-content {
    font-family: serif;
    padding: 20px 80px;
}
  #news-frame {
      width: 100%;
      height: 90%;
  }

#news-wrap {
    height: 1.8em;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.news {
    position: absolute;
    height: 1.8em;
    overflow: hidden;
    color: #333;
}


#fullscreen {
    position: absolute;
    right: 10px;
    top: 20px;
}
